/shaders/lib/atmosphere/functions.glsl
/shaders/lib/atmosphere/definitions.glsl
/shaders/lib/atmosphere/generate_LUT.glsl
notes.md
/template/*
/shaders/image_backup/*
/shaders/image/captured_LUTs.rdc
/shaders/image/captured_2xLUTs.rdc
/shaders/image/captured_scattering.rdc